#main {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.over {
/*   border: 1px solid; */
  position: absolute;
  width: 99%;
  height: 65%;
  top: 16%;
  left: 0.4%;
}

.text {
/*         border: 1px solid red; */
  text-align: center;
  position: relative;
  font-family: "Helvetica", sans-serif;
  background: repeating-linear-gradient(
    45deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet,
    red,
    orange
  );
  background-size: 888vw;
/*   background-size: clamp; */
  animation: rainbow 5s infinite linear;
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 1);
  font-size: clamp(50px, 30vw, 300px);
  transition: color 0.5s;
  text-transform: uppercase;
  font-weight: bold;
  user-select: none;
  margin: clamp(-24px, -3vw, -10px) 0;
}
/* #:hover {
    color:rgba(0,0,0,0);
} */

@keyframes rainbow {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

/* @media (max-width: 650px) {
  .text {
    background-size: calc(1111% - 222);
    font-size: 5vw;
    
  }
} */
